{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="alert alert-info" style="padding-top: 4.2rem;">
    <p class="m-auto p-2">
        We have sent you instructions to reset your password. If your email address was accurate,
        you should receive them shortly....
    </p>

    <p class="m-auto p-2">
        if you receive no email, please make sure that you have entered the address which you registered with, and check your SPAM folder.
    </p>

    <p class="m-auto p-2">
        <a href="{% url 'blog-home' %}">Return to home page</a>
    </p>
</div>
    
{% endblock %}