{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<style>
  body, html {
    background-color: #a8abad;;
  }
</style>


  <div style="padding-top: 4rem;"> 
    <div class="row">
      <div class="col-sm-12">
        <form class="example" method="get">
          <input type="text" placeholder="Search.." name="mt" id="id_mt">
          <button style="background-color: #4B0098;" ><i class="fa fa-search"></i></button>
        </form>
      </div>
    </div>

    
    <section class="row pt-3">    
      {% if profiles %}
            
        {% for mt in profiles %}  
          {% include 'accounts/groups.html' with profile=mt %}  
        {% endfor %}

      {% else %}        
        {% include 'accounts/groups.html' with query=query %}
      {% endif %} 
    </section>                
  </div>   
      
{% endblock %}